n8n-workflows/wordpress-publish-workflow.json
{
  "name": "WordPress Publish with Images",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wordpress-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receive",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "wordpress-publish"
    },
    {
      "parameters": {
        "jsCode": "// Extraire les images et préparer le traitement\nconst input = $input.first().json;\n\nconst images = input.images || {};\nconst imageEntries = Object.entries(images);\n\n// Si pas d'images, passer directement au contenu\nif (imageEntries.length === 0) {\n  return [{\n    json: {\n      title: input.title,\n      content: input.content,\n      metaDescription: input.metaDescription,\n      hasImages: false,\n      imageMapping: {}\n    }\n  }];\n}\n\n// Préparer chaque image pour upload\nconst imagesToUpload = imageEntries.map(([key, value]) => ({\n  json: {\n    imageKey: key,\n    base64Data: value.base64,\n    fileName: value.name,\n    mimeType: value.type,\n    title: input.title,\n    content: input.content,\n    metaDescription: input.metaDescription,\n    totalImages: imageEntries.length\n  }\n}));\n\nreturn imagesToUpload;"
      },
      "id": "prepare-images",
      "name": "Prepare Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-images",
              "leftValue": "={{ $json.hasImages }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-images",
      "name": "Has Images?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "// Convertir base64 en buffer pour upload\nconst item = $input.first().json;\n\n// Retirer le préfixe data:image/...;base64,\nlet base64 = item.base64Data;\nif (base64.includes(',')) {\n  base64 = base64.split(',')[1];\n}\n\nconst buffer = Buffer.from(base64, 'base64');\n\nreturn [{\n  json: {\n    imageKey: item.imageKey,\n    fileName: item.fileName,\n    mimeType: item.mimeType,\n    title: item.title,\n    content: item.content,\n    metaDescription: item.metaDescription,\n    totalImages: item.totalImages\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: item.mimeType,\n      fileName: item.fileName\n    }\n  }\n}];"
      },
      "id": "convert-base64",
      "name": "Convert Base64 to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.WORDPRESS_URL }}/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=\"{{ $json.fileName }}\""
            }
          ]
        },
        "options": {}
      },
      "id": "upload-to-wordpress",
      "name": "Upload to WordPress Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 400],
      "credentials": {
        "httpBasicAuth": {
          "id": "VOTRE_CREDENTIAL_ID",
          "name": "WordPress Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupérer l'URL de l'image uploadée\nconst uploadResponse = $input.first().json;\nconst previousData = $('Convert Base64 to Binary').first().json;\n\nreturn [{\n  json: {\n    imageKey: previousData.imageKey,\n    wordpressUrl: uploadResponse.source_url,\n    mediaId: uploadResponse.id,\n    title: previousData.title,\n    content: previousData.content,\n    metaDescription: previousData.metaDescription\n  }\n}];"
      },
      "id": "extract-url",
      "name": "Extract Image URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-images",
      "name": "Aggregate All Images",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "jsCode": "// Construire le mapping et remplacer les placeholders\nconst items = $input.first().json.data;\n\nif (!items || items.length === 0) {\n  // Pas d'images, retourner le contenu original\n  const webhook = $('Webhook').first().json;\n  return [{\n    json: {\n      title: webhook.title,\n      content: webhook.content,\n      metaDescription: webhook.metaDescription\n    }\n  }];\n}\n\n// Récupérer les données originales\nconst firstItem = items[0];\nlet content = firstItem.content;\nconst title = firstItem.title;\nconst metaDescription = firstItem.metaDescription;\n\n// Remplacer chaque placeholder par l'URL WordPress\nfor (const item of items) {\n  const placeholder = `{{${item.imageKey}}}`;\n  content = content.replace(placeholder, item.wordpressUrl);\n}\n\nreturn [{\n  json: {\n    title,\n    content,\n    metaDescription\n  }\n}];"
      },
      "id": "replace-placeholders",
      "name": "Replace Placeholders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.WORDPRESS_URL }}/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"status\": \"draft\",\n  \"meta\": {\n    \"_yoast_wpseo_metadesc\": {{ JSON.stringify($json.metaDescription || '') }}\n  }\n}",
        "options": {}
      },
      "id": "create-wordpress-post",
      "name": "Create WordPress Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "VOTRE_CREDENTIAL_ID",
          "name": "WordPress Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Préparer la réponse de succès\nconst post = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    postId: post.id,\n    postUrl: post.link,\n    editUrl: post.link.replace('?p=', 'wp-admin/post.php?post=').replace('&preview=true', '&action=edit'),\n    status: post.status,\n    message: `Article \"${post.title.rendered}\" créé avec succès en brouillon`\n  }\n}];"
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Cas sans images - préparer directement pour publication\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    title: item.title,\n    content: item.content,\n    metaDescription: item.metaDescription\n  }\n}];"
      },
      "id": "no-images-path",
      "name": "No Images - Direct",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Images": {
      "main": [
        [
          {
            "node": "Has Images?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Images?": {
      "main": [
        [
          {
            "node": "No Images - Direct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to Binary": {
      "main": [
        [
          {
            "node": "Upload to WordPress Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to WordPress Media": {
      "main": [
        [
          {
            "node": "Extract Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URL": {
      "main": [
        [
          {
            "node": "Aggregate All Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Images": {
      "main": [
        [
          {
            "node": "Replace Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Images - Direct": {
      "main": [
        [
          {
            "node": "Replace Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Placeholders": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "variables": [
    {
      "key": "WORDPRESS_URL",
      "value": "https://votre-site-wordpress.com"
    }
  ]
}
